.cart__button {
    background-image: url(../../../images/button_cart.svg);
    background-size: cover;
    background-position: center;
    width: 48px;
    height: 48px;
}

.cart__button:hover {
    background-image: url(../../../images/button_cart_hover.svg);
}