.footer__reference-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(181, 187, 219, 1);
    padding: 0;
    margin: 0 16px 0 0;
    text-align: left;
    white-space: nowrap;
    text-decoration: underline;
}